*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(4, 21, 36);
}
.slide{
    width: 400%;
    height: 576px;
    overflow: hidden;
    border-radius: 15px;
    transition: all .8s;
}
.slides{
    display: flex;
}
.image img{
    width: 1024px;
    height: 576px;
}
#atual{
    margin-left: 0;
    transition: all 2s;
}
.btn{
    position: absolute;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}
.btn:hover{
    transform: scale(1.5);
}
#voltar{
    top: 50%;
    left: 10%;
}
#next{
    top: 50%;
    right: 10%;
}
.balls{
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}
.balls div{
    transition: all 0.5s;
    border: 3px solid #fff;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.balls div:hover{
    background: #fff;
}
.imgAtual{
    transition: all 0.5s;
    background: #fff;
}
.container{
    width: 80px;
    height: 50px;
    margin: 50px;
    background-color: #add;
}
.principal{
    width: 480px;
    height: 270px;
    overflow: hidden;
}
.label img{
    width: 120px;
    cursor: pointer;
    float: left;
    opacity: 0.3;
    transition: all .4s;
}



